:root {
  --color-primary: #2b2b2b;
  --color-secondary: #969696;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey: #eeeeee;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.1rem;
  letter-spacing: -0.02em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  min-height: 100svh;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.container {
  margin: 0 auto;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  -moz-column-gap: 4.8rem;
       column-gap: 4.8rem;
}

.section-title {
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.secondary-color {
  color: var(--color-secondary);
}

.flex {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

header {
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 2.8rem;
}
header .header-center {
  grid-column: 6/span 2;
  color: var(--color-secondary);
  letter-spacing: -0.35rem;
}
header .header-right {
  grid-column: 10/span 3;
  display: flex;
  justify-content: space-between;
}

.hero {
  overflow: hidden;
}
.hero .hero-image {
  margin-top: 5rem;
  max-width: none;
  width: 140vw;
}
.hero .hero-desc {
  margin-top: 4.8rem;
  grid-column: 1/span 4;
}

.section-portfolio {
  margin-top: 13rem;
}
.section-portfolio .accordion {
  margin: 0 auto;
}
.section-portfolio .accordion .accordion-option {
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.section-portfolio .accordion .accordion-option .accordion-header {
  display: flex;
  justify-content: space-between;
}
.section-portfolio .accordion .accordion-option .accordion-header .portfolio-item-title {
  min-width: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-portfolio .accordion .accordion-option .accordion-header .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.section-portfolio .accordion .accordion-option .accordion-header .icons .icon {
  min-width: 2rem;
  text-align: center;
}
.section-portfolio .accordion .accordion-option .accordion-header .icons .icon:hover {
  color: var(--color-secondary);
}
.section-portfolio .accordion .accordion-option .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 2rem;
}
.section-portfolio .accordion .accordion-option .accordion-content .portfolio-item-description {
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.section-portfolio .accordion .accordion-option .accordion-content .portfolio-item-thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
  width: 600px;
  height: 600px;
}
.section-portfolio .accordion .accordion-option .accordion-content .portfolio-item-thumbnail-long {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 500px;
}
.section-portfolio .accordion .accordion-option.active .accordion-content {
  max-height: 550px;
}
.section-portfolio .accordion .accordion-option.active .fa-angle-down {
  transform: rotate(180deg);
}

.section-about {
  margin-top: 13rem;
}
.section-about .about-left-side {
  grid-column: 1/span 5;
  order: 0;
}
.section-about .about-left-side .about-left-side-section {
  margin-bottom: 3rem;
}
.section-about .about-left-side .skills .skill {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 0.5rem;
  --fa-rotate-angle: 45deg;
}
.section-about .about-left-side .timeline-item {
  margin-bottom: 1.5rem;
}
.section-about .about-left-side .timeline-item .timeline-item-title {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  --fa-rotate-angle: 45deg;
}
.section-about .about-left-side .timeline-item p {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}
.section-about .about-right-side {
  grid-column: 7/span 5;
  order: 1;
}
.section-about .about-right-side .about p {
  margin-bottom: 4rem;
  font-size: 2rem;
}

.section-contact {
  margin-top: 10rem;
}
.section-contact .contact {
  margin-bottom: 13rem;
}
.section-contact .contact .contact-content {
  grid-column: 7/span 5;
}
.section-contact .contact .contact-content p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.section-contact .contact .contact-content .contact-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 1rem;
}
.section-contact .contact .contact-content .contact-item i {
  --fa-rotate-angle: 45deg;
}
.section-contact .contact .contact-content .contact-item:hover i {
  --fa-rotate-angle: 90deg;
}/*# sourceMappingURL=styles.css.map */