:root {
  --color-primary: #2b2b2b;
  --color-secondary: #969696;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey: #eeeeee;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.1rem;
  letter-spacing: -0.02em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  min-height: 100svh;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.container {
  padding: 0 4.5rem;
  --fa-rotate-angle: 45deg;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  -moz-column-gap: 4.8rem;
       column-gap: 4.8rem;
}

.section-title {
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.secondary-color {
  color: var(--color-secondary);
}

.flex {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.list-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  padding-top: 2.8rem;
}
.header .header-center {
  color: var(--color-secondary);
}
.header .header-right .header-right-link:hover {
  color: var(--color-secondary);
}

.hero {
  overflow: hidden;
}
.hero .hero-image {
  margin-top: 5rem;
  max-width: none;
  width: 140vw;
}
.hero .hero-desc {
  margin-top: 4.8rem;
  grid-column: 1/span 4;
}

.section-projects {
  margin-top: 13rem;
}
.section-projects .accordion {
  margin: 0 auto;
}
.section-projects .accordion .accordion-option {
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.section-projects .accordion .accordion-option .accordion-header {
  display: flex;
  justify-content: space-between;
}
.section-projects .accordion .accordion-option .accordion-header .accordion-title {
  min-width: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-projects .accordion .accordion-option .accordion-header .accordion-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.section-projects .accordion .accordion-option .accordion-header .accordion-icons a {
  min-width: 2rem;
  text-align: center;
}
.section-projects .accordion .accordion-option .accordion-header .accordion-icons a:hover {
  color: var(--color-secondary);
}
.section-projects .accordion .accordion-option .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 2rem;
}
.section-projects .accordion .accordion-option .accordion-content .accordion-content-description {
  margin: 2rem 0;
}
.section-projects .accordion .accordion-option .accordion-content .accordion-content-group {
  display: flex;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
}
.section-projects .accordion .accordion-option .accordion-content .accordion-content-thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
  width: 600px;
  height: 600px;
}
.section-projects .accordion .accordion-option .accordion-content .accordion-content-thumbnail-long {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 500px;
}
.section-projects .accordion .accordion-option.active .accordion-content {
  max-height: 550px;
}
.section-projects .accordion .accordion-option.active .fa-angle-down {
  transform: rotate(180deg);
}

.section-about {
  margin-top: 13rem;
}
.section-about .about-left-side {
  grid-column: 1/span 5;
  order: 0;
}
.section-about .about-left-side .skills-list {
  margin-bottom: 5rem;
}
.section-about .about-left-side .timeline {
  margin-bottom: 5rem;
}
.section-about .about-left-side .timeline-item {
  margin-bottom: 1.5rem;
}
.section-about .about-left-side .timeline-item p {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}
.section-about .about-left-side .my-photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 300px;
}
.section-about .about-left-side .my-photo img {
  border-radius: 100%;
}
.section-about .about-right-side {
  grid-column: 7/span 5;
  order: 1;
}
.section-about .about-right-side .about p {
  margin-bottom: 4rem;
  font-size: 2rem;
}

.section-contact {
  margin-bottom: 10rem;
}
.section-contact .contact-content {
  grid-column: 7/span 5;
}
.section-contact .contact-content p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.section-contact .contact-content .list-item:hover i {
  --fa-rotate-angle: 90deg;
}

@media screen and (max-width: 400px) {
  .container {
    padding: 0 1.5rem;
  }
  .header {
    font-size: 1rem;
  }
  .header .header-left {
    display: none;
  }
  .section-projects {
    margin-top: 9rem;
  }
  .section-projects .accordion .accordion-option .accordion-header .accordion-icons {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .section-projects .accordion .accordion-option .accordion-header .accordion-icons a {
    min-width: 1.5rem;
  }
  .section-projects .accordion .accordion-option .accordion-content-thumbnail-long {
    width: 200px;
    height: 200px;
  }
  .section-about {
    margin-top: 10rem;
  }
  .section-about .about-right-side .about p {
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  .section-contact .contact-content p {
    font-size: 1.2rem;
    line-height: normal;
  }
}
@media screen and (max-width: 600px) {
  .section-projects .accordion .accordion-option .accordion-header .accordion-title {
    min-width: 40%;
  }
  .section-projects .accordion .accordion-option .accordion-header .accordion-icons {
    -moz-column-gap: minmax(0.5rem, 2rem);
         column-gap: minmax(0.5rem, 2rem);
  }
  .section-projects .accordion .accordion-option .accordion-header .accordion-icons a {
    min-width: 1.5rem;
  }
  .section-projects .accordion .accordion-option .accordion-content {
    overflow: auto;
  }
  .section-projects .accordion .accordion-option .accordion-content .accordion-content-description {
    font-size: 1rem;
  }
  .section-projects .accordion .accordion-option .accordion-content .accordion-content-group {
    flex-direction: column;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .section-projects .accordion .accordion-option .accordion-content .accordion-content-thumbnail {
    width: 200px;
    height: 200px;
  }
  .section-projects .accordion .accordion-option .accordion-content .accordion-content-thumbnail-long {
    width: 200px;
    height: 300px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    padding: 0 1.5rem;
  }
  .main-grid {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .header {
    padding-top: 2rem;
    font-size: 1rem;
  }
  .flex {
    height: 300px;
  }
  .hero .hero-desc {
    grid-column: 1;
  }
  .section-projects .accordion .accordion-option .accordion-header .accordion-title {
    width: 30%;
  }
  .section-projects .accordion .accordion-option .accordion-content {
    overflow: auto;
  }
  .section-projects .accordion .accordion-option .accordion-content .accordion-content-group {
    flex-direction: column;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .section-projects .accordion .accordion-option .accordion-content .accordion-content-thumbnail {
    width: 200px;
    height: 200px;
  }
  .section-projects .accordion .accordion-option .accordion-content .accordion-content-thumbnail-long {
    width: 100px;
    height: 100px;
  }
  .section-about .about-left-side {
    grid-column: 1/span 2;
    order: 1;
  }
  .section-about .about-right-side {
    grid-column: 1/span 2;
    order: 0;
  }
  .section-about .my-photo {
    margin: 0 auto;
  }
  .section-contact {
    margin: 5rem 0;
  }
  .section-contact .contact-content {
    grid-column: 1/span 2;
  }
}
@media screen and (max-width: 970px) {
  .section-projects .accordion .accordion-option .accordion-content-thumbnail-long {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 1070px) {
  .section-projects .accordion .accordion-option .accordion-header .accordion-title {
    width: 25%;
  }
}/*# sourceMappingURL=styles.css.map */