:root {
  --color-primary: #2b2b2b;
  --color-secondary: #969696;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey: #eeeeee;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.1rem;
  letter-spacing: -.02em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  min-height: 100svh;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

//utility classes
.container {
  padding: 0 4.5rem;
  --fa-rotate-angle: 45deg;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 4.8rem;
}

.section-title {
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  column-gap: .5rem;
}

.secondary-color {
  color: var(--color-secondary);
}

.flex {
  display: flex;
  column-gap: 2rem;
}

.list-item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: .5rem;
}



//header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  padding-top: 2.8rem;

  .header-center {
    color: var(--color-secondary);
  }

  .header-right {
    .header-right-link:hover {
      color: var(--color-secondary);
    }
  }
}

//hero section
.hero {
  overflow: hidden;

  .hero-image {
    margin-top: 5rem;
    max-width: none;
    width: 140vw
  }

  .hero-desc {
    margin-top: 4.8rem;
    grid-column: 1/span 4;
  }
}

//project section
.section-projects {
  margin-top: 13rem;

  .accordion {
    margin: 0 auto;

    .accordion-option {
      margin-top: 2rem;
      padding-bottom: 1rem;
      border-bottom: 2px solid #fff;
      cursor: pointer;

      .accordion-header {
        display: flex;
        justify-content: space-between;

        .accordion-title {
          min-width: 13%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .accordion-icons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 2.5rem;

          a {
            min-width: 2rem;
            text-align: center;
          }

          a:hover {
            color: var(--color-secondary);
          }
        }

      }

      .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding: 0 2rem;

        .accordion-content-description {
          margin: 2rem 0;
        }

        .accordion-content-group {
          display: flex;
          column-gap: 10rem;
        }

        .accordion-content-thumbnail {
          object-fit: cover;
          width: 600px;
          height: 600px;
        }

        .accordion-content-thumbnail-long {
          object-fit: cover;
          width: 200px;
          height: 500px;
        }

      }

    }

    .accordion-option.active .accordion-content {
      max-height: 550px;
    }

    .accordion-option.active .fa-angle-down {
      transform: rotate(180deg);
    }
  }
}

//about section
.section-about {
  margin-top: 13rem;

  .about-left-side {
    grid-column: 1/span 5;
    order: 0;

    .skills-list {
      margin-bottom: 5rem;
    }

    .timeline {
      margin-bottom: 5rem;
    }

    .timeline-item {
      margin-bottom: 1.5rem;

      p {
        margin-top: .5rem;
        margin-left: 1.5rem;
      }

    }

    .my-photo {
      object-fit: cover;
      width: 300px;
      height: 300px;

      img {
        border-radius: 100%;
      }
    }
  }

  .about-right-side {
    grid-column: 7/span 5;
    order: 1;

    .about p {
      margin-bottom: 4rem;
      font-size: 2rem;
    }
  }
}

//contact section
.section-contact {
  margin-bottom: 10rem;

  .contact-content {
    grid-column: 7/span 5;

    p {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      line-height: 2.5rem;
    }

    .list-item:hover {
      i {
        --fa-rotate-angle: 90deg;
      }

    }
  }
}

@import "./_media"