:root {
  --color-primary: #2b2b2b;
  --color-secondary: #969696;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey: #eeeeee;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3); 
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body{
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.1rem;
  letter-spacing: -.02em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  min-height: 100svh;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

//utility classes
.container {
  margin: 0 auto;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 4.8rem;
}

.section-title {
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  column-gap: .5rem;
}

.secondary-color {
  color: var(--color-secondary);
}

.flex {
  display: flex;
  column-gap: 2rem;
}

//animation
@keyframes rotate {
  0% {
      transform: translate3d(-50%,-50%,0) rotateY(0deg)
  }

  to {
      transform: translate3d(-50%,-50%,0) rotateY(1turn)
  }
}

//header
header {
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 2.8rem;
  .header-left {

  }
  .header-center {
    grid-column: 6/span 2;
    color: var(--color-secondary);
    letter-spacing: -.35rem;
  }
  .header-right {
    grid-column: 10/span 3;
    display: flex;
    justify-content: space-between
  }
}

//hero section
.hero {
  overflow: hidden;
  .hero-image {
    margin-top: 5rem;
    max-width: none;
    width: 140vw
  }
  .hero-desc {
    margin-top: 4.8rem;
    grid-column: 1/span 4;
  }
}

//portfolio section
.section-portfolio {
  margin-top: 13rem;
  .accordion {
    margin: 0 auto;

    .accordion-option {
      margin-top: 2rem;
      padding-bottom: 1rem;
      border-bottom: 2px solid #fff;
      cursor: pointer;

      .accordion-header {
        display: flex;
        justify-content: space-between;
        .portfolio-item-title {
          display: flex;
          align-items: center;
          column-gap: .5rem;
        }
        .icons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 2.5rem;
          .icon {
            min-width: 2rem;
            text-align: center;
          }
          .icon:hover {
            color: var(--color-secondary);
          }
        }

      }

      .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding: 0 2rem;

        .portfolio-item-description {
          padding-top: 2rem;
          margin-bottom: 2rem;

        }

        .portfolio-item-thumbnail {
          object-fit: cover;
          width: 600px;
          height: 600px;
        }

        .portfolio-item-thumbnail-long {
          object-fit: cover;
          width: 200px;
          height: 500px;
        }
      }

    }

    .accordion-option.active .accordion-content {
      max-height: 550px;
    }
    
    .accordion-option.active .fa-angle-down {
      transform: rotate(180deg);
    }
  }
}

//about section
.section-about {
  margin-top: 13rem;
  .about-left-side {
    grid-column: 1/span 5;
    order: 0;
    .about-left-side-section {
      margin-bottom: 3rem;
    }
    .skills {
      .skill {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        margin-bottom: .5rem;
        --fa-rotate-angle: 45deg;
      }
     
    } 

    .timeline-item {
      margin-bottom: 1.5rem;
      .timeline-item-title {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        --fa-rotate-angle: 45deg;
      };
      p {
        margin-top: .5rem;
        margin-left: 1.5rem;
      }
     
    } 
  }

  .about-right-side {
    grid-column: 7/span 5;
    order: 1;
    .about p{
      margin-bottom: 4rem;
      font-size: 2rem;
    }
  }
}

//contact section
.section-contact {
  margin-top: 10rem;
  .contact {
    margin-bottom: 13rem;
    .contact-content {
      grid-column: 7/span 5;
      p {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
      .contact-item {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        margin-bottom: 1rem;
        i {
        --fa-rotate-angle: 45deg;
        }
      }
    }
  }
}

@import "./_media"